html, body {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
}

#left {
	display: flex;
	flex: 1;
	background-image: url("https://hare1039.nctu.me/imgs/blockgo-asset/ai.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#mid {
	display: flex;
	flex: 2;
	justify-content: center;
	align-items: center;
}

#midbackground {
    position: absolute;
    left: 0;
    top: 0;
	height: 100%;
	width: 100%;
    z-index: -1;
	background-image: url("https://hare1039.nctu.me/imgs/blockgo-asset/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	filter: blur(2px);	
}


#right {
	display: flex;
	flex: 1;
	background-image: url("https://hare1039.nctu.me/imgs/blockgo-asset/tubaki.jpg");
    background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex: 1;
}

.selfcenter {
	display: flex;
	align-self: center;
	flex: 1;
}

#start {
	text-align: center;
	display: inline-block;
	filter: none;
	z-index: 10;
	position: relative;
}
